@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes scrollLyrics {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}

.animate-scroll {
  animation: scrollLyrics 25s linear infinite;
}
